.slides {
  width: 80% !important;
  height: 100% !important;
  zoom: 0.8 !important;
}

body {
  font-size: 18px !important;
}

.input {
  font-size: 1.1em !important;
}

.input {
}

.reveal p {
  margin: 15px 0 0 0;
  line-height: 1.3 !important;
}

table td {
  text-align: left;
  vertical-align: middle;
}

table th,
table tr {
  font-size: 28px !important;}

  .reveal h1,
  .reveal h2,
  .reveal h3,
  .reveal h4,
  .reveal h5,
  .reveal h6 {
    margin: 0 0 20px 0;
  }

  .reveal h1 {
    font-size: 2.55em; }

  .reveal h2 {
    font-size: 1.75em; }

  .reveal h3 {
    font-size: 1.50em; }

  .reveal h4 {
    font-size: 1em; }

  .reveal h1 {
    text-shadow: none; }

.reveal ol,
.reveal dl,
.reveal ul {
        display: inline-block;
        text-align: left;
        margin: 10px 0 0 0;
}

.reveal img {
  position:sticky !important;
  vertical-align: middle !important;
  max-width: 95% !important;
  max-height: 95% !important;
}

.reveal video,
.reveal iframe {
  max-width: 95% !important;
  max-height: 95% !important; }
